<div *ngIf="queries" class="row">
<div class="col-xs-12 col-md-3">
  <strong>Pick a query</strong>
  <ul>
    <li *ngFor="let query of queries"
        [class.selected]="query === selectedQuery"
        (click)="onSelect(query)">

      <span class="name">{{query.name}}</span><span *ngIf="query.isEdited">*</span>
    </li>
  </ul>
  <button *ngIf="noNewQueryOnGoing()" (click)="newQuery()" class="btn btn-light btn-sm">New query</button>
  <app-query-detail [query]="selectedQuery"></app-query-detail>
  <button *ngIf="selectedQuery && selectedQuery.isEdited" (click)="deleteQuery(selectedQuery)" class="btn btn-danger btn-sm">delete</button>
  <hr>
  <button (click)="reloadAll()" class="btn btn-light btn-sm">Abort all editions and reload from db</button>
</div>
<div class="col-xs-12 col-md-9" >
  <app-query-update [query]="selectedQuery" *ngIf="selectedQuery && selectedQuery.isEdited"></app-query-update>
  <div class="data" *ngIf="!selectedQuery || !selectedQuery.isEdited">
    <app-data-table [queryResponse]="queryService.mainQueryResponse"></app-data-table>
  &nbsp; <!-- to allow selecting table easily with the mouse -->
  </div>
</div>
</div>
