<div *ngIf="query">
  <strong>Query picked: {{ query.name }}</strong>

  <div [hidden]="query.isEdited" class="text-muted">{{ query.description}}</div>
  <div [hidden]="query.isEdited" *ngIf="query.parameters.length">
    <strong>Enter parameters:</strong>
    <div>
      <div class="form-group row" *ngFor="let parameter of query.parameters">
        <label class="col-sm-2 col-form-label col-form-label-sm">{{parameter.name}}</label>
        <div class="col-sm-10">
          <input [(ngModel)]="parameter.userValue" class="form-control form-control-sm" placeholder="{{parameter.name}}">
        </div>
      </div>
    </div>
  </div>

  <form [hidden]="!query.isEdited" #queryForm="ngForm">

    <div class="form-group">
      <label >Name</label>
      <input [(ngModel)]="query.name" class="form-control form-control-sm" placeholder="name (must be unique)" name="name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="query.description" class="form-control form-control-sm" placeholder="A business description" name="description">
    </div>

    <div class="form-group">
      <label>Source configuration</label>
      <select class="form-control" required [(ngModel)]="query.configurationId" name="configuration">
        <option *ngFor="let conf of configurations" [value]="conf.id">{{conf.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label >Template</label>
        <input [(ngModel)]="query.template" class="form-control form-control-sm" placeholder="jdbc template" name="template">
    </div>

  </form>

  <button *ngIf="!query.isEdited" (click)="execute()" class="btn btn-primary btn-sm">execute</button>
  <button *ngIf="query.isEdited" (click)="update()" class="btn btn-danger btn-sm">update</button>

  <button *ngIf="!query.isEdited" (click)="edit()" class="btn btn-light btn-sm float-right">edit</button>
  <button *ngIf="query.isEdited" (click)="reload()" class="btn btn-light btn-sm float-right">cancel</button>
  <!--   <code>
      <pre>{{query |json}}</pre>
    </code> -->
</div>

