<div *ngIf="query">
  <strong>Query picked: {{ query.name }}</strong>
  <div class="text-muted">{{ query.description}}</div>
  <div *ngIf="query.parameters.length">
    <strong>Enter parameters:</strong>
    <div>
      <div class="form-group row" *ngFor="let parameter of query.parameters">
        <label class="col-sm-2 col-form-label col-form-label-sm">{{parameter.name}}</label>
        <div class="col-sm-10">
          <input [(ngModel)]="parameter.userValue" class="form-control form-control-sm" placeholder="{{parameter.name}}">
        </div>
      </div>
    </div>
  </div>
  <button (click)="post()" class="btn btn-danger btn-sm">post</button>
 <!--   <code>
      <pre>{{query |json}}</pre>
    </code> -->
</div>

