<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
  </div>
</nav>

<div class="container-fluid theme-showcase" role="main">
  <div class="row">
    <div class="col-xs-12 col-md-6"><app-queries></app-queries></div>
    <div class="col-xs-12 col-md-6"><app-data-table></app-data-table></div>
  </div>
  <div class="row"><div class="col-md-12"><app-messages></app-messages></div>
</div>
